{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {{ attach_library('longboat_rond/team-section') }}
  <section{{ attributes.addClass('team-section') }}>
    <div class="container">
      {% if content.field_team_section_title %}
        <h3 class="team-section__title section__title text-center">{{ content.field_team_section_title }}</h3>
      {% endif %}

      <div class="team-section__cards">
        {{ content.field_team_cards }}
      </div>
    </div>
  </section>
{% endblock %}
