{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {{ attach_library('longboat_rond/slider') }}
  <div{{ attributes.addClass('slider swiper') }}>

    <div class="slider__wrapper swiper-wrapper">
        {{ content.field_slide }}
    </div>

    <div class="swiper-pagination"></div>
  </div>
{% endblock %}
