$bg-color: #ffffff;
$bg-color-dark: #25394D;
$color-primary: #001F3F;
$color-primary-dark: #ffffff;
$color-secondary: #00A6FB;
$color-secondary-dark: #00A6FB;
$text-color: #8D8D8D;
$text-color-dark: #8D8D8D;
