$bg-color: #ffffff;
$bg-color-dark: #001F3F;
$color-primary: #001F3F;
$color-primary-dark: #ffffff;
$color-secondary: #00A6FB;
$color-secondary-dark: #00A6FB;
$text-color: #8D8D8D;
$text-color-dark: #8D8D8D;
$color-header-border: #D9D9D9;



@mixin theme($bg, $primary, $secondary, $text) {
  --background: #{$bg};
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --text-color: #{$text};
}

:root {
    @include theme(
        $bg-color,
        $color-primary,
        $color-secondary,
        $text-color
    );
    --color-header-border: #{$color-header-border};
}
@media (prefers-color-scheme: dark) {
    :root {
      @include theme(
        $bg-color-dark,
        $color-primary-dark,
        $color-secondary-dark,
        $text-color-dark
      );
    }
}