$bg-color: #ffffff;
$bg-color-dark: #25394D;
$color-primary: #001F3F;
$color-primary-dark: #ffffff;
$text-color-gray: #8D8D8D;
$color-text-white: #ffffff;
$color-header-border: #D9D9D9;
$color-cards-border: #BCD1E7;
$color-cards-border-dark: #133150;
$color-cards-bg: #ffffff;
$color-cards-bg-dark: #001B37;
$color-btn-bg: #00A6FB;

@mixin theme($bg, $primary, $cards-border, $cards-bg) {
  --background: #{$bg};
  --color-primary: #{$primary};
  --color-cards-border: #{$cards-border};
  --color-cards-bg: #{$cards-bg};
}

:root {
    @include theme(
        $bg-color,
        $color-primary,
        $color-cards-border,
        $color-cards-bg
    );
    --text-color-gray: #{$text-color-gray};
    --color-text-white: #{$color-text-white};
    --color-header-border: #{$color-header-border};
    --color-btn-bg: #{$color-btn-bg};
}
@media (prefers-color-scheme: dark) {
    :root {
      @include theme(
        $bg-color-dark,
        $color-primary-dark,
        $color-cards-border-dark,
        $color-cards-bg-dark
      );
    }
}