@use 'globals' as *;

.footer {
    background: var(--color-bg);
    color: var(--color-primary);
    text-align: center;
    padding: 20px 0;
    &__logo-image {
        display: none;
        height: 112px;

        &--light {
            display: inline-block;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        &__logo-image {
            &--light {
                display: none;
            }
            &--dark {
                display: inline-block;
            }
        }
    }
}