@use 'globals' as *;

.header {
  background: var(--background);
  border-bottom: 1px solid var(--color-header-border);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.4375rem;
    padding-bottom: 1.4375rem;
  }

  &__logo {
    height: 44px;
    display: block;
  }

  &__logo-image {
    display: none;
    height: 44px;

    &--light {
      display: inline-block;
    }
  }

  &__menu {
    flex: 1;
    text-align: center;

    nav > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      width: 100%;

      li {
        &:first-child {
          margin-left: auto;
        }
        &:last-child {
          margin-left: auto;
            a {
              background: var(--color-btn-bg);
              color: var(--color-text-white);
              border: 1px solid var(--color-btn-bg);
              padding: 0.5rem 1rem;
              border-radius: 6px;
              text-decoration: none;
              transition: background 0.2s;
              &:hover {
                background: var(--color-primary);
                color: var(--text-color-white);
                border-color: var(--color-primary);
              }
            }
        }
      }
    }
    
    a {
      font-family: var(--font-menu);
      font-weight: 400;
      font-size: var(--font-size-base);
      color: var(--text-color-gray);
      text-decoration: none;
      padding: 0.5rem 1.25rem;
      display: inline-block;

      &.is-active {
        color: var(--color-primary);
        font-weight: 600;
      }
    }

    &-toggle {
      display: none;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }

  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .header {
    background: var(--background);

    &__logo-image {
      &--light {
        display: none;
      }
      &--dark {
        display: inline-block;
      }
    }
  }
}
